{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <br>
    <p style="color:rgb(255,255,255);" align="center">
        <b>修改密码</b>
    </p>

    <form action="" method="post">
        {{ form.csrf_token }}
        <p style="color:rgb(255,255,255);" align="center">
            {{ form.old.label }}
            &nbsp
            {{ form.old(size=32, required=false) }}
            <br>
            <span style="color: red;">
                {{ form.old.errors[0] }}
            </span>
        </p>

        <p style="color:rgb(255,255,255);" align="center">
            {{ form.new.label }}
            &nbsp
            {{ form.new(size=32, required=false) }}
            <br>
            <span style="color: red;">
                {{ form.new.errors[0] }}
            </span>
        </p>

        <p style="color:rgb(255,255,255);" align="center">
            {{ form.repassword.label }}
            &nbsp
            {{ form.repassword(size=32, required=false) }}
            <br>
            <span style="color: red;">
                {{ form.repassword.errors[0] }}
            </span>
        </p>

        <p align="center">
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}